{% extends 'base_generic.html' %}
{% load widget_tweaks %}
{% block content %}
<div class="container mt-4">
    <h2 class="mb-4">Actualizar Perfil</h2>
    <form method="post">
        {% csrf_token %}
        <div class="card">
            <div class="card-body">
                {% for field in form %}
                    <div class="form-group">
                        <!-- Crear la etiqueta del campo manualmente -->
                        <label for="{{ field.id_for_label }}" class="form-label">
                            {{ field.label }}
                        </label>
                        <!-- Aplicar la clase form-control manualmente -->
                        {{ field }}
                        {% if field.help_text %}
                            <small class="form-text text-muted">{{ field.help_text|safe }}</small>
                        {% endif %}
                        {% for error in field.errors %}
                            <p class="text-danger">{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endfor %}
                <button type="submit" class="btn btn-dark mt-3">Actualizar</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}