.navbar{
    background-color: #1b1b22;
    color:#d8c5a7;
}

.custom-footer{
    background-color: #1b1b22;
    color:#d8c5a7;
    text-align: center;
    padding: 1rem;
}

.navbar-nav{
    margin-left: auto; /* Empuja los elementos de sesión hacia la derecha */
    
}

.navbar-nav.mx-auto{
    flex: 1;
    justify-content: center; /* Asegura que los elementos del nav principal estén centrados */
    display: flex;
}

/* Añade margen a la derecha del enlace de cerrar sesión */
.nav-item.me-3 {
    margin-right: 1rem; /* Ajusta según sea necesario */
}

.navbar-nav.ms-auto {
    margin-left: auto; /* Empuja los elementos de sesión hacia la derecha */
}

.navbar-text{
    color:#d8c5a7;
}

.btn {
    color:#d8c5a7;
    background-color: #1b1b22;
}

.btnlogin{
    display: flex;
    justify-content: center;
    
}

#btnlogin{
    background-color: black;
    color:#d8c5a7;
}

.nav-link {
    color:#d8c5a7;

    /* Texto blanco */
    padding: 15px 20px;
    /* Espaciado adecuado */
    text-decoration: none;
    /* Sin subrayado en los enlaces */
    transition: background-color 0.3s, color 0.3s;
    /* Transiciones suaves */
}

.nav-link:hover {
    background-color:#d8c5a7;
    /* Cambio de fondo al hacer hover */
    color: #1b1b22;
    /* Cambio de color de texto al hacer hover */
    border-radius: 15%;
    
}

.btn-custom {
    background-color: #7478c8; /* Color de fondo personalizado */
    color: white;              /* Color de texto personalizado */
    border: none;              /* Quita el borde por defecto */
    display: flex;
    justify-content: center;
}

#typed-output {
    text-align: center; /* Centra el texto horizontalmente */
    font-size: 3rem; /* Ajusta el tamaño de la fuente según tus necesidades */
    font-weight: bold; /* Opcional: para que el texto sea más negrita */
    color: #d8c5a7; /* Opcional: para cambiar el color del texto */
    margin-top: 5rem; /* Espacio superior para separar del contenido anterior */
}

.samita_productLabel-content {
    max-width: 100%;
    position: relative;
    display: flex;
    margin: auto;
    opacity: 1;
    width: 15%;
    height: auto;
    transform: rotate(5deg);
    animation: hi-there-samita 2s infinite;
    margin: 0;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    padding: 5px;
    font-family: 'Archivo', sans-serif;
    font-weight: 700;
    font-size: 8px;
    border: 3px solid rgba(255, 255, 255, 1);
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    background: linear-gradient(to right, rgba(7, 0, 0, 1), rgba(7, 0, 0, 1));
    color: rgba(241, 237, 237, 1);
  }
  
  @keyframes hi-there-samita {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(10deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
  
.page-link{
    color:#d8c5a7;
    background-color: #1b1b22;
}

.pagination .page-item .page-link:hover{
    color:#1b1b22;
    background-color: #d8c5a7;
}

/* Cambia el color de fondo y del texto del elemento activo en la paginación */
.pagination .page-item.active .page-link {
    background-color: #1b1b22; /* Cambia el color de fondo del elemento activo */
    color: #d8c5a7; /* Cambia el color del texto del elemento activo */
    border-color: #d8c5a7; /* Cambia el color del borde del elemento activo */
}

/* Opcional: Cambia el color del texto al pasar el mouse sobre el elemento activo */
.pagination .page-item.active .page-link:hover {
    background-color: #d8c5a7; /* Cambia el color de fondo al pasar el mouse */
    color: #1b1b22; /* Cambia el color del texto al pasar el mouse */
}

.btn-primary:hover{
    background-color: #d8c5a7; /* Cambia el color de fondo al pasar el mouse */
    color: #1b1b22; /* Cambia el color del texto al pasar el mouse */
    border-color: #d8c5a7; /* Cambia el color del borde del elemento activo */
}
/* necesario para dejar el footer pegado al fondo*/
/* HTML y body deben ocupar toda la altura */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* El cuerpo principal de la página usa flex para empujar el footer hacia abajo */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Mínimo de la altura es toda la pantalla */
}

/* El contenedor principal del contenido (container) crece para ocupar el espacio disponible */
main.container {
    flex: 1;
}
/* necesario para dejar el footer pegado al fondo*/

